
$bgColor: rgb(255, 255, 255);
$body_ff: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$code_ff: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

$containerColor:#92A8D1;

